<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-4 col-md-3">

        <div class="card">
          <div class="card-header">
            PUBLICAR LIBROS
          </div>
          <div class="card-body">
            <form [formGroup]="formularioLibro">
            <div class="d-flex-justify-content-start">
                <input type="text" class="form-control" placeholder="Ingresar nuevo libro" formControlName="nombreLibro">
                <input type="text" class="form-control" placeholder="Ingresar el autor" formControlName="autorLibro">
                <input type="text" class="form-control" placeholder="Ingresa la editorial" formControlName="editorialLibro">
                <input type="text" class="form-control" placeholder="Ingresar el # de paginas" formControlName="numPag">
                <input type="text" class="form-control" placeholder="Ingresa estado del libro" formControlName="caracteristicas">
                <button class="btn btn-primary" type="button" [disabled]="formularioLibro.invalid"
                (click)="agregarLibro()"
                > Agregar Libro</button>
            </div>
            </form>
<br>
          <ul class="list-group">
          <div class="card-header">LISTA DE LIBROS</div>
              <li class="list-group-item" *ngFor=" let libro of listaLibros">
                <div class="d-flex-justify-content-start">
                  <label>{{libro.nombreLibro}} - {{libro.autorLibro}}</label>
                </div>
                <div class="d-flex-justify-content-end">
                  <button class="btn btn-danger btn-sm" type="button"
                (click)="eliminarLibro(libro)"
                >Eliminar Libro</button>
                </div>
              </li>
          </ul>
          </div>
        </div>

    </div>
  </div>
</div>
